<div class="table-responsive scrollable-content no-scroll">
    <table class="table table-bordered table-hover custom-table sticky text-center">
        <thead class="thead-light">
            <tr>                            
                <th scope="col">Milestones</th>
                <th scope="col">Value</th>
                <th scope="col">Payment</th>
                <th scope="col">Tentative date</th>
                <th scope="col">Invoiced</th>
                <th scope="col">Description</th>
                <th scope="col">Mode of Payment</th>
                <th scope="col">Due Date</th> 
                <th></th>                        
            </tr>
        </thead>
        <tbody>                                                
            <tr>                           
                <td scope="col">Initial Advance</td>
                <td class="text-right">₹2000</td>
                <td>20%</td>
                <td>30/09/2020</td>
                <td>Yes</td>
                <td>Design Confirmation</td>  
                <td>Paypal</td> 
                <td>30/12/2020</td>
                <td align="center">
                    <a href="javascript:void(0)"><i class="fa fa-pencil-square-o table-action-icon" aria-hidden="true"></i></a> &nbsp;
                    <a href="javascript:void(0)"><span class="rid-row"><i class="fa fa-minus-circle" aria-hidden="true"></i></span></a>
                </td>                        
            </tr>
            <tr>                           
                <td scope="col">Milestone 2</td>
                <td class="text-right">₹5000</td>
                <td>40%</td>
                <td>30/09/2020</td>
                <td>Yes</td>
                <td>Design Confirmation</td>  
                <td>Bank wire</td> 
                <td>06/12/2020</td>
                <td align="center">
                    <a href="javascript:void(0)"><i class="fa fa-pencil-square-o table-action-icon" aria-hidden="true"></i></a> &nbsp;
                    <a href="javascript:void(0)"><span class="rid-row"><i class="fa fa-minus-circle" aria-hidden="true"></i></span></a>
                </td>                            
            </tr>
            <tr>                           
                <td scope="col">Milestone 3</td>
                <td class="text-right">₹2000</td>
                <td>20%</td>
                <td>30/09/2020</td>
                <td>Yes</td>
                <td>Design Confirmation</td>  
                <td>Paypal</td> 
                <td>30/11/2020</td> 
                <td align="center">
                    <a href="javascript:void(0)"><i class="fa fa-pencil-square-o table-action-icon" aria-hidden="true"></i></a> &nbsp;
                    <a href="javascript:void(0)"><span class="rid-row"><i class="fa fa-minus-circle" aria-hidden="true"></i></span></a>
                </td>                           
            </tr>
            <tr>                           
                <td scope="col">Milestone 4</td>
                <td class="text-right">₹2000</td>
                <td>20%</td>
                <td>30/09/2020</td>
                <td>No</td>
                <td>Design Confirmation</td> 
                <td>Paypal</td> 
                <td>30/12/2020</td>         
                <td align="center">
                    <a href="javascript:void(0)"><i class="fa fa-pencil-square-o table-action-icon" aria-hidden="true"></i></a> &nbsp;
                    <a href="javascript:void(0)"><span class="rid-row"><i class="fa fa-minus-circle" aria-hidden="true"></i></span></a>
                </td>                   
            </tr>
            <tr>                           
                <td scope="col">Sign off</td>
                <td class="text-right">₹2000</td>
                <td>20%</td>
                <td>30/09/2020</td>
                <td>No</td>
                <td>Sign off</td>  
                <td>Paypal</td> 
                <td>30/12/2020</td>       
                <td align="center">
                    <a href="javascript:void(0)"><i class="fa fa-pencil-square-o table-action-icon" aria-hidden="true"></i></a> &nbsp;
                    <a href="javascript:void(0)"><span class="rid-row"><i class="fa fa-minus-circle" aria-hidden="true"></i></span></a>
                </td>                   
            </tr>                       
            <tr class="total-value">
                <td>Total Value</td>
                <td class="text-right">₹10000</td>
                <td colspan="7"></td>
            </tr>                        
            <tr class="table-active">
                <td>Realized Amount</td>
                <td class="text-right">₹4000</td>
                <td colspan="7"></td>
            </tr>
            <tr class="table-active amount-row">
                <td>Amount Due</td>
                <td class="text-right">₹4000</td>
                <td colspan="7"></td>
            </tr> 
        </tbody>
    </table>
</div>