<div class="row">
    <div class="col-lg-12">
        <div class="row justify-content-center  animated bounceInDown">
            <div class="col-md-2 mr-3">
                <a [routerLink]="['/settings/department']" href="javascript:void(0)">
                    <div class="card card1 testimonial-card">
                        <div class="avatar mx-auto white"><i aria-hidden="true" class="fa fa-list-ul fa-4x"></i>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title"><b>Department</b></h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 mr-3">
                <a [routerLink]="['/settings/technology']" href="javascript:void(0)">
                    <div class="card card1 testimonial-card">
                        <div class="avatar mx-auto white"><i aria-hidden="true" class="fa fa-gamepad fa-4x"></i>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title"><b>Technology</b></h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 mr-3">
                <a [routerLink]="['/settings/source']" href="javascript:void(0)">
                    <div class="card card1 testimonial-card">
                        <div class="avatar mx-auto white"><i aria-hidden="true" class="fa fa-users fa-4x"></i>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title"><b>Source</b></h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 mr-3">
                <a [routerLink]="['/settings/domain']" href="javascript:void(0)">
                    <div class="card card1 testimonial-card">
                        <div class="avatar mx-auto white"><i aria-hidden="true" class="fa fa-file-text-o fa-4x"></i>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title"><b>Domain</b></h6>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>