<h1 mat-dialog-title style="font-size: 17px;margin: 0;padding: 5px 10px;">Confirm</h1>

<div mat-dialog-content [innerHtml]="confirmMessage" style="width: 100%;font-size: 13px;margin: 0;padding: 5px 10px;"></div>
<!-- This section using for attendance and advance leave approval -->
<div class="modal-footer">
  <button class="btn btn-primary main-btn" type="button" (click)="dialogRef.close(true)" >Confirm</button>
  <button class="btn btn-danger main-btn" type="button" (click)="dialogRef.close(false)" >Cancel</button>
</div>



