<loading [state]="loading">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">View POC List</h4>
            <button type="button" class="close" (click)="close(false)">×</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <div class="modal-body-container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive scrollable-content no-scroll">
                            <table class="table table-bordered table-hover custom-table sticky"
                                style="width:95%;margin:auto;">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Job Title</th>
                                        <th scope="col">Contact Number</th>                                  
                                    </tr>
                                </thead>
                                <tbody>                                    
                                    <tr>                                        
                                        <td>test<br>
                                            <div class="text-info">Primary</div>
                                        </td>
                                        <td>test</td>
                                        <td>test</td>
                                        <td>123456789</td>
                                    </tr>
                                    <tr>                                        
                                        <td>test</td>
                                        <td>test</td>
                                        <td>test</td>
                                        <td>123456789</td>
                                    </tr>
                                    <tr>                                        
                                        <td>test</td>
                                        <td>test</td>
                                        <td>test</td>
                                        <td>123456789</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</loading>