    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Opportunity {{title}}</h4>
            <button type="button" class="close" (click)="close(false)">×</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">            
            <div class="modal-body-container-simple">
                <div class="row">
                    <div class="col-sm-6 col-xs-6">
                        <label>Opportunity name :</label>
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <label>Opportunity1</label>
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <label>Project Manager :</label>
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <label>Abir Sen</label>
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <label>Business Analyst :</label>
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <label>Kritika Roy</label>
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <label>Prospecting :</label>
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <label>Madhuparna Mitra</label>
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <label>Closure:</label>
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <label>12/2020</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
