<div class="container-fluid below-top-bar">
    <div class="row">
        <div class="col-lg-3">
            <form >
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for an Account/Oppurtunity" aria-label="Search">
                    <span class="input-group-btn">
                        <button class="btn btn-primary top-form-btn" type="submit">Search</button>
                      </span>
                </div>
            </form>

        </div>
        <div class="col-lg-3">
            <ng-select class="form-control form-control2 top-search" placeholder="Status">
                <ng-option>Test</ng-option>
            </ng-select>
        </div>
        <div class="col-lg-3  text-center">
            <ng-select class="form-control form-control2 top-search" placeholder="Department">
                <ng-option>Test</ng-option>
            </ng-select>
        </div>
        <div class="col-lg-3 text-right">
            <ng-select class="form-control form-control2 top-search" placeholder="Business Account">
                <ng-option>Test</ng-option>
            </ng-select>
        </div>
    </div>
</div>
<!-- End of header -->
<!-- Start of body -->
<div class="clearfix"></div>
<!-- <br> -->
<div class="tab-pane accounts">
    <div class="row">
        <div class="col-lg-12">
           <div class="table-responsive scrollable-content no-scroll">
                <table class="table table-bordered table-hover custom-table sticky" style="width:95%;margin:auto;">
                    <thead class="thead-light">
                        <tr>                            
                            <th scope="col">Business Account</th>
                            <th scope="col">Oppurtunity</th>
                            <th scope="col">Status</th>
                            <th scope="col">Department</th>
                            <th scope="col">BA assigned</th>
                            <th scope="col">Deal Value</th>                         
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="6" class="accountrow">KGDF Bank</td>
                        </tr>                        
                        <tr>                           
                            <td rowspan="2" class="pocblock">
                                <a class="link" (click)="viewPOCs()">POC Details</a><br>
                                <button class="btn" (click)="addPOC()">Add New POC</button>
                            </td>
                            <td><a class="link" (click)="viewOpportunity(1)">Opportunity</a></td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>                            
                        </tr>
                        <tr>                       
                            <td><a class="link">Oppurtunity</a></td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>                            
                        </tr>
                        <tr>
                            <td colspan="6" class="accountrow">KGDF Insurance</td>
                        </tr>                        
                        <tr>                           
                            <td rowspan="2" class="pocblock">
                                <a class="link">POC Details</a><br>
                                <button class="btn">Add New POC</button>
                            </td>
                            <td><a class="link">Oppurtunity</a></td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>                            
                        </tr>
                        <tr>                       
                            <td><a class="link">Oppurtunity</a></td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>                            
                        </tr>
                        <tr>
                            <td colspan="6" class="accountrow">Shalldng</td>
                        </tr>                        
                        <tr>                           
                            <td rowspan="2" class="pocblock">
                                <a class="link">POC Details</a><br>
                                <button class="btn">Add New POC</button>
                            </td>
                            <td><a class="link">Oppurtunity</a></td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>                            
                        </tr>
                        <tr>                       
                            <td><a class="link">Oppurtunity</a></td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> 
    </div>
</div>