<div class="leads-pane">
    <div class="row">
        <div class="col-lg-12">
           <div class="table-responsive scrollable-content">
                <table class="table table-bordered table-striped table-hover custom-table">
                    <thead class="thead-dark blue-thead">
                        <tr>                            
                            <th class="text-right allcheck">
                                <mat-checkbox class="example-margin" value="all" title="Select All" [(ngModel)]="checked"
                                  (change)="checkedAll($event)"></mat-checkbox>
                              </th>
                            <th scope="col">Business Name</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Country <i class="fa fa-chevron-down" aria-hidden="true"></i></th>
                            <th scope="col">Contact No</th>
                            <th scope="col">Email Id</th>
                            <th scope="col">Source <i class="fa fa-chevron-down" aria-hidden="true"></i></th>                            
                        </tr>
                    </thead>
                    <tbody class="single-border-td">
                        <tr [class.active_row]="checkedRow[i].checked==true"
                        *ngFor="let lead of leadList; let i=index;">                            
                            <td class="text-right">
                                <mat-checkbox class="example-margin" [value]="i" [(ngModel)]="checkedRow[i].checked"
                                (change)="checkedThisRow(i,$event)"></mat-checkbox>
                            </td>
                            <td>{{lead.business_name}}</td>
                            <td>{{lead.first_name}}</td>
                            <td>{{lead.last_name}}</td>
                            <td>{{lead.country}}</td>
                            <td>{{lead.contact_number}}</td>
                            <td>{{lead.email_id}}</td>
                            <td>{{lead.source}}</td>                                                        
                        </tr>                                                               
                    </tbody>
                </table>
            </div>
        </div> 
    </div>
</div>
