<div class="leads-pane">
    <div class="row">
        <div class="col-lg-12">
           <div class="table-responsive scrollable-content">
                <table class="table table-bordered table-striped table-hover custom-table">
                    <thead class="thead-dark blue-thead">
                        <tr>                            
                            <th scope="col"></th>
                            <th scope="col">Business Name</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Country <i class="fa fa-chevron-down" aria-hidden="true"></i></th>
                            <th scope="col">Contact No</th>
                            <th scope="col">Email Id</th>
                            <th scope="col">Source <i class="fa fa-chevron-down" aria-hidden="true"></i></th>                            
                        </tr>
                    </thead>
                    <tbody class="single-border-td">
                        <tr>                            
                            <td>
                                <mat-checkbox class="example-margin" (change)="check($event)"></mat-checkbox>
                            </td>
                            <td>KGDF Bank</td>
                            <td>John</td>
                            <td>Doe</td>
                            <td>USA</td>
                            <td>2314784209</td>
                            <td>john@gmail.com</td>
                            <td>Facebook</td>                                                        
                        </tr>
                        <tr>                            
                            <td>
                                <mat-checkbox class="example-margin" (change)="check($event)"></mat-checkbox>
                            </td>
                            <td>KGDF Bank</td>
                            <td>John</td>
                            <td>Doe</td>
                            <td>USA</td>
                            <td>2314784209</td>
                            <td>john@gmail.com</td>
                            <td>Facebook</td>                                                        
                        </tr>
                        <tr>                            
                            <td>
                                <mat-checkbox class="example-margin" (change)="check($event)"></mat-checkbox>
                            </td>
                            <td>KGDF Bank</td>
                            <td>John</td>
                            <td>Doe</td>
                            <td>USA</td>
                            <td>2314784209</td>
                            <td>john@gmail.com</td>
                            <td>Facebook</td>                                                        
                        </tr>
                        <tr>                            
                            <td>
                                <mat-checkbox class="example-margin" (change)="check($event)"></mat-checkbox>
                            </td>
                            <td>KGDF Bank</td>
                            <td>John</td>
                            <td>Doe</td>
                            <td>USA</td>
                            <td>2314784209</td>
                            <td>john@gmail.com</td>
                            <td>Facebook</td>                                                        
                        </tr>
                        <tr>                            
                            <td>
                                <mat-checkbox class="example-margin" (change)="check($event)"></mat-checkbox>
                            </td>
                            <td>KGDF Bank</td>
                            <td>John</td>
                            <td>Doe</td>
                            <td>USA</td>
                            <td>2314784209</td>
                            <td>john@gmail.com</td>
                            <td>Facebook</td>                                                        
                        </tr>
                        <tr>                            
                            <td>
                                <mat-checkbox class="example-margin" (change)="check($event)"></mat-checkbox>
                            </td>
                            <td>KGDF Bank</td>
                            <td>John</td>
                            <td>Doe</td>
                            <td>USA</td>
                            <td>2314784209</td>
                            <td>john@gmail.com</td>
                            <td>Facebook</td>                                                        
                        </tr>
                        <tr>                            
                            <td>
                                <mat-checkbox class="example-margin" (change)="check($event)"></mat-checkbox>
                            </td>
                            <td>KGDF Bank</td>
                            <td>John</td>
                            <td>Doe</td>
                            <td>USA</td>
                            <td>2314784209</td>
                            <td>john@gmail.com</td>
                            <td>Facebook</td>                                                        
                        </tr>
                        <tr>                            
                            <td>
                                <mat-checkbox class="example-margin" (change)="check($event)"></mat-checkbox>
                            </td>
                            <td>KGDF Bank</td>
                            <td>John</td>
                            <td>Doe</td>
                            <td>USA</td>
                            <td>2314784209</td>
                            <td>john@gmail.com</td>
                            <td>Facebook</td>                                                        
                        </tr>
                        <tr>                            
                            <td>
                                <mat-checkbox class="example-margin" (change)="check($event)"></mat-checkbox>
                            </td>
                            <td>KGDF Bank</td>
                            <td>John</td>
                            <td>Doe</td>
                            <td>USA</td>
                            <td>2314784209</td>
                            <td>john@gmail.com</td>
                            <td>Facebook</td>                                                        
                        </tr>
                        <tr>                            
                            <td>
                                <mat-checkbox class="example-margin" (change)="check($event)"></mat-checkbox>
                            </td>
                            <td>KGDF Bank</td>
                            <td>John</td>
                            <td>Doe</td>
                            <td>USA</td>
                            <td>2314784209</td>
                            <td>john@gmail.com</td>
                            <td>Facebook</td>                                                        
                        </tr><tr>                            
                            <td>
                                <mat-checkbox class="example-margin" (change)="check($event)"></mat-checkbox>
                            </td>
                            <td>KGDF Bank</td>
                            <td>John</td>
                            <td>Doe</td>
                            <td>USA</td>
                            <td>2314784209</td>
                            <td>john@gmail.com</td>
                            <td>Facebook</td>                                                        
                        </tr><tr>                            
                            <td>
                                <mat-checkbox class="example-margin" (change)="check($event)"></mat-checkbox>
                            </td>
                            <td>KGDF Bank</td>
                            <td>John</td>
                            <td>Doe</td>
                            <td>USA</td>
                            <td>2314784209</td>
                            <td>john@gmail.com</td>
                            <td>Facebook</td>                                                        
                        </tr><tr>                            
                            <td>
                                <mat-checkbox class="example-margin" (change)="check($event)"></mat-checkbox>
                            </td>
                            <td>KGDF Bank</td>
                            <td>John</td>
                            <td>Doe</td>
                            <td>USA</td>
                            <td>2314784209</td>
                            <td>john@gmail.com</td>
                            <td>Facebook</td>                                                        
                        </tr>
                        <tr>                            
                            <td>
                                <mat-checkbox class="example-margin" (change)="check($event)"></mat-checkbox>
                            </td>
                            <td>KGDF Bank</td>
                            <td>John</td>
                            <td>Doe</td>
                            <td>USA</td>
                            <td>2314784209</td>
                            <td>john@gmail.com</td>
                            <td>Facebook</td>                                                        
                        </tr>                                          
                    </tbody>
                </table>
            </div>
        </div> 
    </div>
</div>
