<!-- <p>opportunity-details-modal works!</p> -->
<div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header">
        <h4 class="modal-title">App Design</h4>
        <button type="button" class="close" (click)="close(false)">×</button>
    </div>
    <!-- Modal body -->
    <div  class="modal-body custom-scroll" style="max-height: 550px; overflow-y: auto;padding:1rem !important">            
        <div class="modal-body-container-simple">
            <app-opportunity-details></app-opportunity-details>
        </div>
    </div>
</div>