<div class="container-fluid below-top-bar">
    <div class="row">
        <div class="col-lg-4">
            <form >
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for a lead" aria-label="Search">
                    <span class="input-group-btn">
                        <button class="btn btn-primary top-form-btn" type="submit">Search</button>
                      </span>
                </div>
            </form>

        </div>
        <div class="col-lg-3">
            <ng-select class="form-control form-control2 top-search" placeholder="Please Select">
                <ng-option>Test</ng-option>
            </ng-select>
        </div>
        <div class="col-lg-2  text-center">
            <button class="btn btn-primary">Add Lead</button>
        </div>
        <div class="col-lg-3 text-right">
            <button class="btn btn-primary">Send it back to the Lead Pool</button>
        </div>
    </div>
</div>