<loading [state]="loading">
  <div class="container mt-3">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-sm-4 col-xs-4"></div>
        <div class="col-sm-8 col-xs-8 mb-3">
          <mat-radio-group formControlName="origin" (change)="radioChange($event)">
            <mat-radio-button value="indian" class="mr-3">Indian</mat-radio-button>
            <mat-radio-button value="global">Global</mat-radio-button>
          </mat-radio-group>&nbsp;&nbsp; <span class="required">*</span>
        </div>
        <div class="col-sm-4 col-xs-4">
          <label>Business Name <span class="required">*</span>:</label>
        </div>
        <div class="col-sm-8 col-xs-8">
          <div class="form-group">
            <input class="form-control" formControlName="business_name" placeholder=""
              [ngClass]="displayFieldCss(form,'business_name')">
            <div class="invalid-feedback" *ngIf="isFieldValid(form,'business_name')">Please Enter Business Name</div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-4">
          <label>Business Website :</label>
        </div>
        <div class="col-sm-8 col-xs-8">
          <div class="form-group">
            <input class="form-control" formControlName="business_website" placeholder=""
              [ngClass]="displayFieldCss(form,'business_website')">
            <div class="invalid-feedback" *ngIf="isFieldValid(form,'business_website')">Please Enter Business Website
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-4">
          <label>GSTIN :</label>
        </div>
        <div class="col-sm-8 col-xs-8">
          <div class="form-group">
            <input class="form-control" formControlName="gstin" placeholder=""
              [ngClass]="displayFieldCss(form,'gstin')">
            <div class="invalid-feedback" *ngIf="isFieldValid(form,'gstin')">Please Enter GSTIN</div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-4">
          <label>CIN :</label>
        </div>
        <div class="col-sm-8 col-xs-8">
          <div class="form-group">
            <input class="form-control" formControlName="cin" placeholder="" [ngClass]="displayFieldCss(form,'cin')">
            <div class="invalid-feedback" *ngIf="isFieldValid(form,'cin')">Please Enter CIN</div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-4">
          <label>PAN :</label>
        </div>
        <div class="col-sm-8 col-xs-8">
          <div class="form-group">
            <input class="form-control" formControlName="pan" placeholder="" [ngClass]="displayFieldCss(form,'pan')">
            <div class="invalid-feedback" *ngIf="isFieldValid(form,'pan')">Please Enter PAN</div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-4">
          <label>Source <span class="required">*</span>:</label>
        </div>
        <div class="col-sm-8 col-xs-8">
          <div class="form-group">
            <ng-select class="form-control form-control2 top-search" formControlName="source" [clearable]="false"
              [ngClass]="displayFieldCss(form,'source')" placeholder="Please select">
              <ng-option>Facebook</ng-option>
              <ng-option>LinkedIn</ng-option>
              <ng-option>Weblink</ng-option>
            </ng-select>
            <!-- <input class="form-control" formControlName="business_source" placeholder=""
            [ngClass]="displayFieldCss(form,'business_source')"> -->
            <div class="invalid-feedback" *ngIf="isFieldValid(form,'source')">Please Enter Business Source</div>
          </div>
        </div>

        <div class="col-sm-4 col-xs-4">
          <label>Account Manager <span class="required">*</span>:</label>
        </div>
        <div class="col-sm-8 col-xs-8">
          <div class="form-group">
            <ng-select class="form-control form-control2 top-search" formControlName="account_manager"
              [clearable]="false" [ngClass]="displayFieldCss(form,'account_manager')" placeholder="Please select">
              <ng-option>Manojit</ng-option>
            </ng-select>
            <!-- <input class="form-control" formControlName="account_manager" placeholder=""
            [ngClass]="displayFieldCss(form,'account_manager')"> -->
            <div class="invalid-feedback" *ngIf="isFieldValid(form,'account_manager')">Please Enter Account Manager Name
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-4">
          <label>Project Manager :</label>
        </div>
        <div class="col-sm-8 col-xs-8">
          <div class="form-group">
            <input class="form-control" formControlName="project_manager" placeholder=""
              [ngClass]="displayFieldCss(form,'project_manager')">
            <div class="invalid-feedback" *ngIf="isFieldValid(form,'project_manager')">Please Enter Project Manager Name
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-4">
          <label>Department <span class="required">*</span>:</label>
        </div>
        <div class="col-sm-8 col-xs-8">
          <div class="form-group">
            <ng-select class="form-control form-control2 top-search" formControlName="department" [multiple]="true"
              [ngClass]="displayFieldCss(form,'department')" placeholder="Please select">
              <ng-option>Android App</ng-option>
              <ng-option>Web Design</ng-option>
            </ng-select>
            <div class="invalid-feedback" *ngIf="isFieldValid(form,'department')">Please Select Department</div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-4">
          <label>Technology <span class="required">*</span>:</label>
        </div>
        <div class="col-sm-8 col-xs-8">
          <div class="form-group">
            <input class="form-control" formControlName="technology" placeholder=""
              [ngClass]="displayFieldCss(form,'technology')">
            <div class="invalid-feedback" *ngIf="isFieldValid(form,'technology')">Please Enter Technology</div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-4">
          <label>Opportunity Name <span class="required">*</span>:</label>
        </div>
        <div class="col-sm-8 col-xs-8">
          <div class="form-group">
            <input class="form-control" formControlName="opportunity" placeholder=""
              [ngClass]="displayFieldCss(form,'opportunity')">
            <div class="invalid-feedback" *ngIf="isFieldValid(form,'opportunity')">Please Enter Opportunity Name</div>
          </div>
        </div>

        <div class="col-sm-4 col-xs-4">
          <label>Opportunity Date :</label>
        </div>
        <div class="col-sm-8 col-xs-8">
          <div class="form-group">
            <input class="form-control" formControlName="opportunity_date" placeholder="DD/MM/YYYY"
              [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" [ngClass]="displayFieldCss(form,'opportunity_date')"
              (dateTimeChange)="formatHandler($event)">
            <i class="fa fa-calendar icon-on-input" aria-hidden="true" style="right: 15px;"></i>

            <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
            <div class="invalid-feedback" *ngIf="isFieldValid(form,'opportunity_date')">Please Opportunity Date</div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-4">
          <label>Expected Closure <span class="required">*</span>:</label>
        </div>
        <div class="col-sm-8 col-xs-8">
          <div class="form-group">
            <input class="form-control" formControlName="closure_date" [formControl]="closure_date"
              placeholder="MM/YYYY" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2"
              [ngClass]="displayFieldCss(form,'closure_date')">
            <i class="fa fa-calendar icon-on-input" aria-hidden="true" style="right: 15px;"></i>
            <owl-date-time #dt2 [startView]="'multi-years'" [pickerType]="'calendar'"
              (yearSelected)="chosenYearHandler($event)" (monthSelected)="chosenMonthHandler($event, dt2)">
            </owl-date-time>
            <div class="invalid-feedback" *ngIf="isFieldValid(form,'closure_date')">Please Select Closure Date</div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-4">
          <label>Engagement Type:</label>
        </div>
        <div class="col-sm-8 col-xs-8">
          <div class="form-group">
            <ng-select class="form-control form-control2 top-search" formControlName="engagement"
              [ngClass]="displayFieldCss(form,'engagement')" placeholder="Please select">
              <ng-option>Fixed Cost</ng-option>
              <ng-option>Time and Material</ng-option>
              <ng-option>Dedicated Hiring</ng-option>
            </ng-select>
            <div class="invalid-feedback" *ngIf="isFieldValid(form,'engagement')">Please Select Engagement</div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-4">
          <label>Man Hours :</label>
        </div>
        <div class="col-sm-8 col-xs-8">
          <div class="form-group">
            <input class="form-control" formControlName="man_hours" placeholder="" appNumber
              [ngClass]="displayFieldCss(form,'man_hours')">
            <div class="invalid-feedback" *ngIf="isFieldValid(form,'man_hours')">Please Enter Man Hours</div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-4">
          <label>Deal Value <span class="required">*</span>:</label>
        </div>
        <div class="col-sm-8 col-xs-8">
          <div class="form-group">
            <input class="form-control" formControlName="deal_value" placeholder=""
              [ngClass]="displayFieldCss(form,'deal_value')">
            <div class="invalid-feedback" *ngIf="isFieldValid(form,'deal_value')">Please Enter Deal Value</div>
          </div>
        </div>
        <!-- <div class="col-sm-4 col-xs-4">
        <label>Country :</label>
      </div>
      <div class="col-sm-8 col-xs-8">
        <div class="form-group">
          <input class="form-control" formControlName="country" placeholder=""
          [ngClass]="displayFieldCss(form,'country')">
          <div class="invalid-feedback" *ngIf="isFieldValid(form,'country')">Please Enter Country</div>
        </div>
      </div> -->
        <!-- <div class="col-sm-4 col-xs-4">
        <label>Business URL :</label>
      </div>
      <div class="col-sm-8 col-xs-8">
        <div class="form-group">
          <input class="form-control" formControlName="business_url" placeholder=""
            [ngClass]="displayFieldCss(form,'business_url')">
         <div class="invalid-feedback" *ngIf="isFieldValid(form,'business_url')">Please Enter Business URL</div>
        </div>
      </div> -->
        <!-- 
      <div class="col-sm-4 col-xs-4">
        <label>Value :</label>
      </div>
      <div class="col-sm-8 col-xs-8">
        <div class="form-group">
          <input class="form-control" formControlName="value" placeholder="" appNumber
            [ngClass]="displayFieldCss(form,'value')">
         <div class="invalid-feedback" *ngIf="isFieldValid(form,'value')">Please Enter Value</div>
        </div>
      </div> -->
        <div class="col-sm-4 col-xs-4">
          <label>Currency :</label>
        </div>
        <div class="col-sm-8 col-xs-8">
          <div class="form-group">
            <ng-select class="form-control form-control2 top-search" formControlName="currency"
              [ngClass]="displayFieldCss(form,'currency')" placeholder="Please select Currency">
              <ng-option>Dollar</ng-option>
              <ng-option>US Dollar</ng-option>
            </ng-select>
            <div class="invalid-feedback" *ngIf="isFieldValid(form,'currency')">Please Select Currency</div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-4">
          <label>Mode of Payment :</label>
        </div>
        <div class="col-sm-8 col-xs-8">
          <div class="form-group">
            <ng-select class="form-control form-control2 top-search" formControlName="mode_of_payment"
              [ngClass]="displayFieldCss(form,'mode_of_payment')" placeholder="Please select">
              <ng-option>Paypal</ng-option>
              <ng-option>Bankwire</ng-option>
            </ng-select>
            <!-- <input class="form-control" formControlName="mode_of_payment" placeholder=""
          [ngClass]="displayFieldCss(form,'mode_of_payment')"> -->
            <div class="invalid-feedback" *ngIf="isFieldValid(form,'mode_of_payment')">Please Enter Mode of Payment
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-4">
          <label>Remarks :</label>
        </div>
        <div class="col-sm-6 col-xs-6">
          <div class="form-group">
            <textarea class="form-control" formControlName="remarks" placeholder="" rows="2"
              [ngClass]="displayFieldCss(form,'remarks')"></textarea>
            <div class="invalid-feedback" *ngIf="isFieldValid(form,'remarks')">Please Enter Remarks</div>
          </div>
        </div>
        <div class="col-sm-2 col-xs-2"><a (click)="viewRemarks()">Log</a></div>
      </div>
    </form>
    <div class="row">
      <div class="col-sm-3 col-xs-3">
        <label><b>POC Name</b></label>
      </div>
      <div class="col-sm-1 col-xs-1"></div>
      <div class="col-sm-3 col-xs-3">
        <label><b>Email ID</b></label>
      </div>
      <div class="col-sm-2 col-xs-2">
        <label><b>Contact Number</b></label>
      </div>
      <div class="col-sm-2 col-xs-2">
        <label><b>Job Title</b></label>
      </div>
      <div class="col-sm-1 col-xs-1"></div>
    </div>

    <div class="row" *ngFor="let list of pocList;let i = index">
      <div class="col-sm-3 col-xs-3">
        <label>{{list.name}}</label>
      </div>
      <div class="col-sm-1 col-xs-1">
        <div class="dragtag" *ngIf="i==0" (drop)="drop($event)" (dragover)="allowDrop($event)">
          <span class="rid-row" draggable="true" id="drag1" (dragstart)="drag($event)">Primary</span>
        </div>
        <div class="dragtag" *ngIf="i > 0" (drop)="drop($event)" (dragover)="allowDrop($event)"></div>

      </div>
      <div class="col-sm-3 col-xs-3">
        <label>{{list.email}}</label>
      </div>
      <div class="col-sm-2 col-xs-2">
        <label>{{list.phone}}</label>
      </div>
      <div class="col-sm-2 col-xs-2">
        <label>PEO</label>
      </div>
      <div class="col-sm-1 col-xs-1">
        <span class="rid-row"><i class="fa fa-minus-circle" aria-hidden="true"></i>
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-xs-12 text-right">
        <button class="btn btn-primary blue-btn" (click)="addPOC()">ADD NEW POC</button>
      </div>
    </div>
    <div class="row" style="margin-top: 15px;">
      <div class="col-sm-12 col-xs-12 text-center">
        <button type="button" class="btn btn-primary modal-save-btn" (click)="submit()">SAVE</button>
        <button type="button" class="btn btn-danger modal-cancel-btn" (click)="close()">CANCEL</button>
      </div>
    </div>
  </div>
</loading>