<div class="container-fluid below-top-bar">
    <div class="row">
        <div class="col-lg-3">
            <h4>Opportunity Name: XYZ</h4>
        </div>
        <div class="col-lg-2">
            <h4>SPOC: XYZ</h4>
        </div>
        <div class="col-lg-2">
            <h4>Deal Value: XYZ</h4>
        </div>
        <div class="col-lg-3">
            <h4>Prospected By: XYZ</h4>
        </div>
        <div class="col-lg-2 text-right">
            <!-- <button class="btn btn-primary" (click)="back()">Back</button> -->
        </div>
    </div>
</div>
<!-- End of header -->
<!-- Start of body -->
<div class="clearfix"></div>
<!-- <br> -->
<div class="tab-pane accounts">
    <div class="row">
        <div class="col-lg-12">
           <div class="table-responsive scrollable-content no-scroll">
                <table class="table table-bordered table-hover custom-table sticky text-center" style="width:95%;margin:auto;">
                    <thead class="thead-light">
                        <tr>                            
                            <th scope="col">Milestones</th>
                            <th scope="col">Value</th>
                            <th scope="col">Payment</th>
                            <th scope="col">Tentative date</th>
                            <th scope="col">Invoiced</th>
                            <th scope="col">Description</th>                         
                        </tr>
                    </thead>
                    <tbody>                                                
                        <tr>                           
                            <td scope="col">Initial Advance</td>
                            <td>₹2000</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>                            
                        </tr>
                        <tr>                           
                            <td scope="col">Milestone 2</td>
                            <td>₹5000</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>                            
                        </tr>
                        <tr>                           
                            <td scope="col">Milestone 3</td>
                            <td>₹2000</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>                            
                        </tr>                       
                        <tr class="table-primary">
                            <th>Total Value</th>
                            <th>₹10000</th>
                            <td colspan="4"></td>
                        </tr>                        
                        <tr class="table-active">
                            <th>Realized Amount</th>
                            <th>₹4000</th>
                            <td colspan="4"></td>
                        </tr>
                        <tr class="table-active">
                            <th>Amount Due</th>
                            <th>₹4000</th>
                            <td colspan="4"></td>
                        </tr> 
                    </tbody>
                </table>
            </div>
        </div> 
    </div>
</div>