<div class="tab-pipeline-body">
    <div class="row pipeline-steps">
        <div class="col-md-2 requirement">
            <label>Requirement Shared</label>
            <p>Value: $2400000</p>
        </div>
        <div class="col-md-2 presales">
            <label>Presales</label>
            <p>Value: $2400000</p>
        </div>
        <div class="col-md-2 proposal">
            <label>Proposal</label>
            <p>Value: $2400000</p>
        </div>
        <div class="col-md-2 negotiation">
            <label>Negotiation</label>
            <p>Value: $2400000</p>
        </div>
        <div class="col-md-2 verbal">
            <label>Verbal Commitment</label>
            <p>Value: $2400000</p>
        </div>
        <div class="col-md-2 agreement">
            <span>Value: $24000</span>
            <label>Agreement</label>
            <p>Value: $2400000</p>
        </div>
    </div>
    <div class="row pipeline-process">

        <div class="col-md-2 p-01">
            <div
              cdkDropList
              #requirementsList="cdkDropList"
              [cdkDropListData]="requirements"
              [cdkDropListConnectedTo]="[presalesList,wonCardBlock,lostCardBlock]"
              class="drag-item-list"
              (cdkDropListDropped)="drop($event)"
              >
              <div class="drag-item-box pipeline-card" *ngFor="let item of requirements" cdkDrag (cdkDragStarted)="dragStarted($event)"
              >
                <div class="drag-item-box-inner">
                    <label>{{item.value}}
                      <span class="company-icons">
                        <a><i aria-hidden="true" class="fa fa-pencil-square-o"></i></a>
                        <a><i aria-hidden="true" class="fa fa-exclamation"></i></a>
                    </span>
                    </label>
                    
                    <button class="btn {{item.btn}}">App Design</button>
                    <p class="company-value">value: ${{item.price}}</p>
                    <span class="last-action">Last Action: 24/08/2020 13:00 HRS</span>
                </div>
                <div class="drag-item-box-inner-action">
                    <a (click)="addTask()"><i aria-hidden="true" class="fa fa-plus"></i></a>
                </div>
             
              </div>
            </div>
          </div>
          
          <div class="col-md-2 p-01">
            <div
              cdkDropList
              #presalesList="cdkDropList"
              [cdkDropListData]="presales"
              [cdkDropListConnectedTo]="[proposalList,wonCardBlock,lostCardBlock]"
              class="drag-item-list"
              (cdkDropListDropped)="drop($event)">
              <div class="drag-item-box pipeline-card" *ngFor="let item of presales" cdkDrag (cdkDragStarted)="dragStarted($event)"
              >
              <div class="drag-item-box-inner">
                <label>{{item.value}}
                  <span class="company-icons">
                    <a><i aria-hidden="true" class="fa fa-pencil-square-o"></i></a>
                    <a><i aria-hidden="true" class="fa fa-exclamation"></i></a>
                </span>
                </label>
                
                <button class="btn {{item.btn}}">App Design</button>
                <p class="company-value">value: ${{item.price}}</p>
                <span class="last-action">Last Action: 24/08/2020 13:00 HRS</span>
            </div>
            <div class="drag-item-box-inner-action">
                <a (click)="addTask()"><i aria-hidden="true" class="fa fa-plus"></i></a>
            </div>
              </div>
            </div>
          </div>
          
          <div class="col-md-2 p-01">
            <div
              cdkDropList
              #proposalList="cdkDropList"
              [cdkDropListData]="proposal"
              [cdkDropListConnectedTo]="[negotitionList,wonCardBlock,lostCardBlock]"
              class="drag-item-list"
              (cdkDropListDropped)="drop($event)">
              <div class="drag-item-box pipeline-card" *ngFor="let item of proposal" cdkDrag (cdkDragStarted)="dragStarted($event)"
              >
              <div class="drag-item-box-inner">
                <label>{{item.value}}
                  <span class="company-icons">
                    <a><i aria-hidden="true" class="fa fa-pencil-square-o"></i></a>
                    <a><i aria-hidden="true" class="fa fa-exclamation"></i></a>
                </span>
                </label>
                
                <button class="btn {{item.btn}}">App Design</button>
                <p class="company-value">value: ${{item.price}}</p>
                <span class="last-action">Last Action: 24/08/2020 13:00 HRS</span>
            </div>
            <div class="drag-item-box-inner-action">
                <a (click)="addTask()"><i aria-hidden="true" class="fa fa-plus"></i></a>
            </div>
              </div>
            </div>
          </div>
          <div class="col-md-2 p-01">
            <div
              cdkDropList
              #negotitionList="cdkDropList"
              [cdkDropListData]="negotition"
              [cdkDropListConnectedTo]="[verbalList,wonCardBlock,lostCardBlock]"
              class="drag-item-list"
              (cdkDropListDropped)="drop($event)">
              <div class="drag-item-box pipeline-card" *ngFor="let item of negotition" cdkDrag (cdkDragStarted)="dragStarted($event)"
              >
                  <div class="drag-item-box-inner">
                    <label>{{item.value}}
                      <span class="company-icons">
                        <a><i aria-hidden="true" class="fa fa-pencil-square-o"></i></a>
                        <a><i aria-hidden="true" class="fa fa-exclamation"></i></a>
                    </span>
                    </label>
                    
                    <button class="btn {{item.btn}}">App Design</button>
                    <p class="company-value">value: ${{item.price}}</p>
                    <span class="last-action">Last Action: 24/08/2020 13:00 HRS</span>
                </div>
                <div class="drag-item-box-inner-action">
                    <a (click)="addTask()"><i aria-hidden="true" class="fa fa-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2 p-01">
            <div
              cdkDropList
              #verbalList="cdkDropList"
              [cdkDropListData]="verbal"
              [cdkDropListConnectedTo]="[agreementList,wonCardBlock,lostCardBlock]"
              class="drag-item-list"
              (cdkDropListDropped)="drop($event)">
              <div class="drag-item-box pipeline-card" *ngFor="let item of verbal" cdkDrag (cdkDragStarted)="dragStarted($event)"
              >
                  <div class="drag-item-box-inner">
                    <label>{{item.value}}
                      <span class="company-icons">
                        <a><i aria-hidden="true" class="fa fa-pencil-square-o"></i></a>
                        <a><i aria-hidden="true" class="fa fa-exclamation"></i></a>
                    </span>
                    </label>
                    
                    <button class="btn {{item.btn}}">App Design</button>
                    <p class="company-value">value: ${{item.price}}</p>
                    <span class="last-action">Last Action: 24/08/2020 13:00 HRS</span>
                </div>
                <div class="drag-item-box-inner-action">
                    <a (click)="addTask()"><i aria-hidden="true" class="fa fa-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2 p-01">
            <div
              cdkDropList
              #agreementList="cdkDropList"
              [cdkDropListData]="agreement"
              [cdkDropListConnectedTo]="[wonCardBlock,lostCardBlock]"
              class="drag-item-list"
              (cdkDropListDropped)="drop($event)">
              <div class="drag-item-box pipeline-card" *ngFor="let item of agreement" cdkDrag (cdkDragStarted)="dragStarted($event)"
              >
                  <div class="drag-item-box-inner">
                    <label>{{item.value}}
                      <span class="company-icons">
                        <a><i aria-hidden="true" class="fa fa-pencil-square-o"></i></a>
                        <a><i aria-hidden="true" class="fa fa-exclamation"></i></a>
                    </span>
                    </label>
                    
                    <button class="btn {{item.btn}}">App Design</button>
                    <p class="company-value">value: ${{item.price}}</p>
                    <span class="last-action">Last Action: 24/08/2020 13:00 HRS</span>
                </div>
                <div class="drag-item-box-inner-action">
                    <a (click)="addTask()"><i aria-hidden="true" class="fa fa-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-md-12 won-lost-section" [ngClass]="{'activeDraggable': showWonLost == true}">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3 text-center">
                    <div 
                    cdkDropList 
                    #wonCardBlock="cdkDropList" 
                    [cdkDropListData]="wonCard"
                    (cdkDropListDropped)="wonDrop($event)"
                    class="won-list-boundary">
                        <button class="btn btn-success won-btn">Won</button>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div 
                    cdkDropList 
                    #lostCardBlock="cdkDropList" 
                    [cdkDropListData]="lostCard"
                    (cdkDropListDropped)="lostDrop($event)"
                    class="won-list-boundary">
                        <button class="btn btn-danger won-btn">Lost</button>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            
            
          </div>
    
    </div>
</div>


  