<loading [state]="loading">
    <div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title">Edit Tile</h4>
      <button type="button" class="close" (click)="close(false)">×</button>
    </div>
    <!-- Modal body -->
    <div class="modal-body custom-scroll" style="max-height: 550px; overflow-y: auto;padding:1rem !important">
        <div class="modal-body-container">
      <form [formGroup]="form">
        <div class="row">
          <div class="col-sm-12 col-xs-12">
            <label>Business Name :</label>
          </div>
          <div class="col-sm-12 col-xs-12">
            <div class="form-group">
              <input class="form-control" formControlName="business_name" placeholder=""
                [ngClass]="displayFieldCss(form,'business_name')">
             <div class="invalid-feedback" *ngIf="isFieldValid(form,'business_name')">Please Enter Business Name</div>
            </div>
          </div>
          
        </div>
          
      </form>
    </div>

    <div class="row" style="margin-top: 15px;">
        <div class="col-sm-12 col-xs-12 text-right">
          <button type="button" class="btn btn-primary modal-save-btn" (click)="submit()">SAVE</button>
          <button type="button" class="btn btn-danger modal-cancel-btn" (click)="close(false)">CANCEL</button>
        </div>
      </div> 
    </div>
  </div>
  </loading>