<div class="fixed-top main-nav">
<ul class="top-nav">
    <ng-container *ngFor="let nav of navList ; let i = index">
        <li [ngClass]="{'active': nav.selected}">
            <a (click)="goto(nav)">
                <i [ngClass]="nav.icon" aria-hidden="true"></i>  {{nav.title}}
            </a>
        </li>
    </ng-container>
    <!-- <li [ngClass]="{'active': selectedItem == 'leads'}"><a [routerLink]="['/leads']"><i class="fa fa-leanpub" aria-hidden="true"></i> Leads</a></li>
    <li><a><i class="fa fa-trophy" aria-hidden="true"></i>  Pipeline</a></li>
    <li><a [routerLink]="['/accounts']"><i class="fa fa-money" aria-hidden="true"></i>   Accounts</a></li>
    <li><a><i class="fa fa-pie-chart" aria-hidden="true"></i> Close Won</a></li>
    <li><a><i class="fa fa-line-chart" aria-hidden="true"></i> Loss Analysis</a></li> -->
</ul>
</div>